<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tyss.eletter.testscripts.InternshipLetter"/>
      <class name="com.tyss.eletter.testscripts.ProjectPolicyLetter"/>
      <class name="com.tyss.eletter.testscripts.SalaryRevisionLetter"/>
      <class name="com.tyss.eletter.testscripts.BDPolicyLetter"/>
      <class name="com.tyss.eletter.testscripts.ITPolicyLetter"/>
      <class name="com.tyss.eletter.testscripts.OfferLetter"/>
      <class name="com.tyss.eletter.testscripts.ConsultantOfferLetter"/>
      <class name="com.tyss.eletter.testscripts.ExitLetter"/>
      <class name="com.tyss.eletter.testscripts.DeliveryPolicyLetter"/>
      <class name="com.tyss.eletter.testscripts.HRPolicyLetter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
